@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: hsl(0 0 90);
  --foreground: hsl(0 0 10);
  --midground: hsl(0 0 30);
}

.dark {
  --background: hsl(0 0 10);
  --foreground: hsl(0 0 90);
  --midground: hsl(0 0 60);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-midground: var(--midground);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--jetbrains-mono), monospace;
}

@layer components {
  .btn-theme {
    @apply text-background hover:bg-midground cursor-pointer rounded-md p-1 transition-all duration-300 ease-in-out;
  }
}
